*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}
html{
    font-family: Roboto, sans-serif;
    font-size: 10px;
}

@media (min-width: 375px){
    html{
        font-size: 11px;
    }
}

@media (min-width: 411px){
    html{
        font-size: 12px;
    }
}

@media (min-width: 568px){
    html{
        font-size: 15px;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
    background: url("./img/wallpaper_640.png");
}

#root{
    display: flex;
    flex-direction: column;
}

header {
    margin: 10% 0;
}

header h1 {
    background-color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-size: 3em;
    text-align: center;
    letter-spacing: 2px;
}
header h2 {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 10px;
}

form {
    margin-bottom: 10%;
    display: flex;
    flex-wrap: wrap;
}

form button {
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    border: 1px solid red;
    margin-left: 1%;
    margin-bottom: 2%;
    padding: 2% 4%;
    font-size: 1.2em;
    transition: 0.3s;
}
form button:active {
    cursor: pointer;
    background-color: red;
    color: white;
}

form button.selected{
    background-color: rgba(255, 0, 0, 0.5);
}

form button:focus {
    outline: none;
}

form input {
    flex-grow: 1;
    background-color: rgba(0,0,0,0.5);
    border: 1px solid red;
    padding: 2% 4%;
    margin-left: 1%;
    margin-bottom: 2%;
    font-size: 1.5em;
    padding-left: 5px;
}

form input:focus {
    outline: none;
    border-color: green;
}

@media (min-width: 1025px) {
    form button:hover {
        cursor: pointer;
        background-color: red;
        color: white;
    }
}

.formButtonField{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: space-evenly;
}

.content{
    margin: auto 5%;
    display: flex;
    flex-direction: column;
}

.content h1 {
    font-size: 2em;
}
.content p {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.4em;
}

.searchingInfo {
    margin-bottom: 1%;
}

.numberOfResults{
    margin-bottom: 2%;
}

ul {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
}

ul h1 {
    color: red;
    text-transform: uppercase;
    margin-bottom: 1%;
}

li {
    margin-bottom: 10%;
    border-bottom: 1px solid red;
    padding-bottom: 1%;
    background-color: rgba(0, 0, 0, 0.5);
}

li p {
    padding-bottom: 1%;
}

li p:last-child{
    margin-bottom: 3%;
}

li>*{
    flex-grow: 0;
}

footer {
    font-size: 1.5em;
    margin: 10% auto 5%;
    text-align: center;
}

footer p{
    background-color: rgba(0, 0, 0, 0.5);
}

footer p strong {
    color: red;
}

footer p a {
    text-decoration: none;
    color: yellow;
}

footer p a:visited {
    color: yellow;
}

footer p a:hover{
    color: darkgoldenrod;
}

